<style>
  @media (max-width: 600px) {
    .example-form-field {
      width: 100%;
    }
    google-map {
      height: 300px;
    }
  }
</style>

<mat-form-field class="example-form-field">
  <mat-label>IP ESP32</mat-label>
  <input matInput type="text"
         [(ngModel)]="api"
  >
</mat-form-field>

<google-map #map
            [center]="center"
            [zoom]="zoom"
            height="800px"
            width="100%"
>
</google-map>

<mat-form-field class="example-form-field">
  <mat-label>Latitud</mat-label>
  <input matInput type="number"
         [disabled] = "mover"
         [(ngModel)]="lat"
         step="0.000001"
  >
</mat-form-field>
<mat-form-field class="example-form-field">
  <mat-label>Longitud</mat-label>
  <input matInput type="number"
         [disabled] = "mover"
         [(ngModel)]="lng"
         step="0.000001"
  >
</mat-form-field>

<div class="custom-toggle-container">
  <p class="toggle-description">Activar movimiento aquí</p>
  <mat-slide-toggle class="custom-toggle" [(ngModel)]="mover" color="primary" [checked]="false">
    <div class="toggle-content">
      <span *ngIf="!mover">Desactivado</span>
      <span *ngIf="mover">Activado</span>
    </div>
  </mat-slide-toggle>
</div>

